<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
      All Films 
    </v-subheader>    
        

    <v-layout wrap>
      <blog-item-component 
          v-for="film in films" 
          :key="`film-` + film.id" 
          :film="film"
          >
      </blog-item-component>

    </v-layout>
    <v-pagination
      v-model="page"
      @input="go"
      :length="lengthpage"
      :total-visible="perPage"
      >

    </v-pagination>


  </v-container>
</template>

<script>
  import BlogItemComponent from '../components/BlogItemComponent.vue';
  export default {
    data : () => ( {
      apiDomain : 'http://localhost:8000/',
      films : [],    
      page : 0,
      lengthpage :0,
      perPage :0,

    }),
    components : {
      'blog-item-component' : BlogItemComponent
    },
  methods : {
    go() {
    const config ={
      method :'get',
      url : this.apiDomain + "/api/film?page=" + this.page
    };

    this.axios(config)
      .then(response =>{
        let { films } = response.data
        this.films = films.data
        this.page = films.current_page
        this.lengthpage = films.last_page
        this.perPage = films.per_page
      })
      .catch(error=> {
        console.log(error);
      });

  }
  },

  created() {
    this.go()
  }
  };
</script>
