<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/films" class="blue--text">
        All Films <v-icon>mdi-chevron-right</v-icon>
      </v-btn>

    </div>
    <v-layout wrap>
      <blog-item-component 
          v-for="film in films" 
          :key="`film-` + film.id" 
          :film="film"
          >
      </blog-item-component>
    </v-layout>

  </v-container>
</template>

<script>
  import BlogItemComponent from '../components/BlogItemComponent.vue';
  //import { mapGetters, mapMutations } from 'vuex'
  export default {
    data : () => ( {
      apiDomain : 'http://localhost:8000/',
      films : [],    
    }),

    components : {
      'blog-item-component' : BlogItemComponent
    },


    methods : {
      go() {
        const config ={
            method :'get',
            url : this.apiDomain + '/reviewfilm/api'
        }

        this.axios(config)
          .then(response =>{
            let { films } = response.data;
            this.films = films;
          })
          .catch(error=> {
            console.log(error);
          });     
      },


    },

    created() {      
      this.go()
    }
  };
</script>
